body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-areas: "selector controllers" "footer footer";
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto 5vh;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
  gap: 0;

  background-color: #000000;
  color: #ffffff;
}

#selector {
  grid-area: selector;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: max(3vh, 1vw);

  background-image: linear-gradient(to bottom, #000, #133 30vh, #000);
}

#controllers {
  grid-area: controllers;

  display: grid;
  grid-template-areas: "art art art" "playlist-controllers play-controllers menu-controllers";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 10vh;

  padding: 2vh;
  gap: 2vh;

  background-color: #000;
}

#art {
  grid-area: art;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controller-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1vw;
}

#playlist-controllers {
  grid-area: playlist-controllers;
}

#play-controllers {
  grid-area: play-controllers;
}

#menu-controllers {
  grid-area: menu-controllers;
}

footer {
  grid-area: footer;

  background-color: black;
}

.swg {
  display: flex;
  flex-direction: row;

  gap: 1vh;
}

#options-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.selector-tree {
  width: 100%;
}

.tree-disc,
.tree-album,
.tree-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.tree-disc {
  border-bottom: solid 1px #8888;
  font-size: 1.2em;
}
.tree-disc:hover {
  text-decoration: underline;
}

.tree-album {
  border-bottom: solid 2px #fff;
  gap: 2vh;
}
.tree-album:hover {
  background-color: #fff1;
}

.tree-album-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tree-album-title {
  font-size: 1.5em;
}

.tree-cover {
  width: 10vh;
}

.tree-item {
}
.tree-item:hover {
  text-decoration: underline;
}
